---
import About from "@/components/sections/About.astro";
import Layout from "../layouts/Layout.astro";
import Hero from "@/components/sections/Hero.astro";
import Experience from "@/components/sections/Experience.astro";
import Education from "@/components/sections/Education.astro";
import Skills from "@/components/sections/Skills.astro";
import Projects from "@/components/sections/Projects.astro";
---

<Layout title="Portfolio">
  <main>
    <Hero />
    <About />
    <Experience />
    <Education />
    <Skills />
    <Projects />
  </main>
</Layout>

<style>
  main {
    padding: 4rem;
    margin: auto;
    width: 100%;
  }
</style>
